@page "/fetchmenudata"
@inject HttpClient Http
@using BlazorRestaurantApp.Data

<h1>The Cheddar's Menu</h1>

<p>Browse our varied menu below.</p>

@if (menuItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Entree</th>
                <th>Price</th>
                <th>Side</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menuItem in menuItems)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public IMenuService MenuService { get; set; }
}
