@page "/fetchmenudata"
@inject HttpClient Http
@using BlazorRestaurantApp.Data

<h1>The Cheddar's Menu</h1>

<p>Browse our varied menu below.</p>

@if (menuitems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Entree</th>
                <th>Price</th>
                <th>Side</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menuitem in menuitems)
            {
                <tr>
                    <td>menuitem.Entree</td>
                    <td>menuitem.Price</td>
                    <td>menuitem.Side</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Menu[] menuitems;

    private override async Task OnInitializedAsync()
    {
        menuitems = await Http.GetFromJsonAsync<Menu[]>("Data/menu-items.json");
    }

    public class Menu
    {
        public string Entree { get; set; }

        public int Price { get; set; }

        public string Side { get; set; }
    }
}
